*{
  background-color: black;
  color: white;
}
.app-container {
  position: relative; /* Ensure a non-static position for absolute positioning */
}

.description-popup {
  position: absolute;
  top: 100%; /* Adjust this value to position the popup relative to the hovered item */
  left: 0;
  z-index: 999; /* Ensure it's above other content */
  background-color: black;
  color: white;
  padding: 10px;
  border: 1px solid #ccc;
}